/*Importação da fonte Sekuya do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');


/* Estilos gerais */
html, body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    zoom: 1.05;
    overflow: hidden;
}
.title {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color: rgb(51, 51, 51);
}
.title-span {
    color: rgb(255, 87, 51);
    font-size: 55px;
    font-family: 'Sekuya', sans-serif;
}
.content{
    position: relative;
    width: 35%;
    height: 250px;
    background-color: rgb(216, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 90px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px ;
}
.number-input {
    position: relative;
    top: -20px;
    background-color: white;
    width: 60%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    font-size: 22px;
}
.number-label {
    margin: 0px;
    position: relative;
    top: -25px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.guess-button {
    margin: 0px;
    position: relative;
    bottom: -30px;
    width: 30%;
    height: 20%;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 87, 51);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.guess-button:active {
    transform: scale(0.9);
    background-color: rgb(204, 70, 41);
}

.new-game-button {
    margin: 0px;
    position: relative;
    bottom: -30px;
    width: 30%;
    height: 20%;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 87, 51);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 1s infinite;
}
.message {
    margin: 0px;
    display: none;
    font-size: 18px;
    font-weight: bolder;
}

/* Estilos responsivos para dispositivos móveis */
@media (min-width: 360px) and (max-width: 768px) {
    .title {
        font-size: 30px;
        margin-top: 20px;
    }
    .content {
        width: 90%;
        height: 180px;
        margin: 50px auto;
    }
    .number-input {
        width: 60%;
        height: 20%;
        font-size: 16px;
    }
    .number-label {
        margin: 0px;
        font-size: 15px;
    }
    .guess-button, .new-game-button {
        width: 45%;
        height: 20%;
        font-size: 18px;
    }
    .message {
        margin: 0px;
        font-size: 15px;
    }

}

/* Animação de pulso para o botão "Novo Jogo" */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 87, 51, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 87, 51, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 87, 51, 0);
    }
}