@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: rgb(51, 51, 51);
}
.title-span {
    color: rgb(255, 87, 51);
    font-size: 45px;
    font-family: 'Sekuya', sans-serif;
}
.content{
    width: 450px;
    height: 250px;
    background-color: rgb(216, 214, 214);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px ;
}
.number-input {
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    font-size: 20px;
}
.number-label {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.guess-button {
    width: 125px;
    height: 50px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 87, 51);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.guess-button:active {
    transform: scale(0.9);
    background-color: rgb(204, 70, 41);
}

.new-game-button {
    width: 125px;
    height: 50px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 87, 51);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 87, 51, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 87, 51, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 87, 51, 0);
    }
}

.message {
    
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
}