*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --limit-storage:  9;

    --theme-color: #ffffff;

    --high-color: #ef4444;
    --low-color: #3b82f6;
    --soNear-color: #e76839;
    --near-color: #f59e0b;
    --win-color: #21b356;
}

@media (max-width: 30em) {
    :root{
        --limit-storage: 5;
    }
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: var(--theme-color);

    @media (max-width: 30em) {
        overflow: hidden;
    }
}

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}